@media screen and (min-width: 640px) {
    #menu {
        display: none;
    }

    .responsive-nav {
        display: block;
        flex: 1 1 auto;
    }

    .navigation {
        flex-direction: row;
        margin-bottom: 0;
    }
}